extends ../layouts/layout-hashtag

block css
	link(href="/js/bower_components/social-feed/css/jquery.socialfeed.css" rel="stylesheet" type="text/css")
	link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")

block head

block header
	#header.header.header-short
		.background
			div
				.background-filter
					.header-content
						.header-row-logo
							.header-logo
								a(href='/'+[getLocale(req)]+'/'): img.img-responsive(src='/images/logo-black.png' alt="Hotel Amalfi Roma")
						.header-row-title
							.header-title.text-center
								h1.text-uppercase #{data.page.title}
								//-
									.container-fluid
										.row
											.col-xs-5.col-sm-5.col-md-5.col-lg-5
											.col-xs-2.col-sm-2.col-md-2.col-lg-2
											.col-xs-5.col-sm-5.col-md-5.col-lg-5
									h2.text-uppercase #{data.page.subTitle[getLocale(req)]}
		//-- end header

block content
	.row
		.social-feed-container

	//--
		.social-feed-container
			#social-page-content
		.clearfix

block js
	script(src="/js/bower_components/codebird-js/codebird.js")
	script(src="/js/bower_components/doT/doT.min.js")
	script(src="/js/bower_components/moment/min/moment.min.js")
	if getLocale(req) == 'it'
		script(src="/js/bower_components/moment/locale/it.js")
	script(src="/js/bower_components/social-feed/js/jquery.socialfeed.js")

	//--
		script(type="text/javascript").
			var userFeedSocialPage = new Instafeed({
				get: 'user',
				userId: '3040700627',
				accessToken: '3040700627.56e7aaa.77a98c29cae040c19ceb2b0cd9859503',
				target: 'social-page-content',
				limit: 30,
				resolution: 'standard_resolution',
				template: '<div class="col-sm-12 col-md-4" style="margin-bottom:30px;"><div class="social-page-item"><div class="social-page-item-content"><div><a href="{{link}}"><img src="{{image}}" /></a></div></div></div></div>'
				/*
				,after: function(image) {
					$('#social-page-content').masonry({
						// options
						itemSelector: '.grid-item',
						columnWidth: '.col-md-3',
						percentPosition: true
					});
				}*/

			});
			userFeedSocialPage.run();


	script.
		$(document).ready(function(){
			$('.social-feed-container').socialfeed({
				// INSTAGRAM
				instagram:{
					accounts: ['&3040700627','#hotelamalfirome'],  //Array: Specify a list of accounts from which to pull posts
					limit: 10,                                    //Integer: max number of posts to load
					access_token: '3040700627.56e7aaa.77a98c29cae040c19ceb2b0cd9859503' //String: Instagram access token
				},
				// TWITTER
				twitter:{
					accounts: ['#HotelAmalfiRome'],             //Array: Specify a list of accounts from which to pull tweets
					limit: 10,                                   //Integer: max number of tweets to load
					consumer_key: 'UsTt0YRyCW5gzZfMHJdXUaEPq', // make sure to have your app read-only
					consumer_secret: 'TcIBmghaMAXHIPANWPJs2SOKyxzQigf0q51ovZ6YA7YzF8a0dF', // make sure to have your app read-only
				},
				// GENERAL SETTINGS
				length:150,                                      //Integer: For posts with text longer than this length, show an ellipsis.
				template: '/js/bower_components/social-feed/template.html',
				show_media: true
			});
		});
