extends ../layouts/layout-hashtag

block css
	link(href="/js/bower_components/social-feed/css/jquery.socialfeed.css" rel="stylesheet" type="text/css")
	link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")

block head

block header
	#header.header.header-short
		.background
			div
				.background-filter
					.header-content
						.header-row-logo
							.header-logo
								a(href='/'+[getLocale(req)]+'/'): img.img-responsive(src='/images/logo-black.png' alt="Hotel Amalfi Roma")
						.header-row-title
							.header-title.text-center
								h1.text-uppercase #{data.page.title}
								//-
									.container-fluid
										.row
											.col-xs-5.col-sm-5.col-md-5.col-lg-5
											.col-xs-2.col-sm-2.col-md-2.col-lg-2
											.col-xs-5.col-sm-5.col-md-5.col-lg-5
									h2.text-uppercase #{data.page.subTitle[getLocale(req)]}
		//-- end header

block content
	.row
		.social-feed-container
			div(class="grid-sizer col-xs-12 col-md-4")
	//--
		.social-feed-container
			#social-page-content
		.clearfix

block js

	//--
		script(type="text/javascript").
			var userFeedSocialPage = new Instafeed({
				get: 'user',
				userId: '3040700627',
				accessToken: '3040700627.56e7aaa.77a98c29cae040c19ceb2b0cd9859503',
				target: 'social-page-content',
				limit: 30,
				resolution: 'standard_resolution',
				template: '<div class="col-sm-12 col-md-4" style="margin-bottom:30px;"><div class="social-page-item"><div class="social-page-item-content"><div><a href="{{link}}"><img src="{{image}}" /></a></div></div></div></div>'
				/*
				,after: function(image) {
					$('#social-page-content').masonry({
						// options
						itemSelector: '.grid-item',
						columnWidth: '.col-md-3',
						percentPosition: true
					});
				}*/

			});
			userFeedSocialPage.run();


	script.
		$(document).ready(function() {
			var updateFeed = function() {
				$('.social-feed-container').socialfeed({
					// Twitter
					twitter: {
						accounts: ['@hotelamalfirome'],
						limit: 10,
						consumer_key: 'UsTt0YRyCW5gzZfMHJdXUaEPq', // make sure to have your app read-only
						consumer_secret: 'TcIBmghaMAXHIPANWPJs2SOKyxzQigf0q51ovZ6YA7YzF8a0dF', // make sure to have your app read-only
					},
					instagram: {
						accounts: ['&3040700627'],  //Array: Specify a list of accounts from which to pull posts
						limit: 10,                                    //Integer: max number of posts to load
						access_token: '3040700627.56e7aaa.77a98c29cae040c19ceb2b0cd9859503' //String: Instagram access token
					},
					facebook:{
						accounts: ['!HotelAmalfiRome'],  //Array: Specify a list of accounts from which to pull wall posts
						limit: 10,                                   //Integer: max number of posts to load
						access_token: '241519906244189|422056d03310821c589d997f78e90ede'  //String: "APP_ID|APP_SECRET"
					},
					
					// GENERAL SETTINGS
					length: 200,
					show_media: true,
					template: '/js/bower_components/social-feed/template.html',
					// Moderation function - if returns false, template will have class hidden
					moderation: function(content) {
						return (content.text) ? content.text.indexOf('fuck') == -1 : true;
					},
					//update_period: 5000,
					// When all the posts are collected and displayed - this function is evoked
					callback: function() {
						$( ".social-feed-element img.attachment" ).load(function() {
							$('.social-feed-container').masonry({
								itemSelector: '.social-feed-element', // use a separate class for itemSelector, other than .col-
								columnWidth: '.grid-sizer',
								percentPosition: true
							});
						});
						console.log('all posts are collected');
					}
				});
			};
			updateFeed();
		});


		/*
		$(document).ready(function(){
			$('.social-feed-container').socialfeed({
				// INSTAGRAM
				instagram:{
					accounts: ['&3040700627','#hotelamalfirome'],  //Array: Specify a list of accounts from which to pull posts
					limit: 10,                                    //Integer: max number of posts to load
					access_token: '3040700627.56e7aaa.77a98c29cae040c19ceb2b0cd9859503' //String: Instagram access token
				},
				// TWITTER
				twitter:{
					accounts: ['@HotelAmalfiRome'],             //Array: Specify a list of accounts from which to pull tweets
					limit: 10,                                   //Integer: max number of tweets to load
					consumer_key: 'UsTt0YRyCW5gzZfMHJdXUaEPq', // make sure to have your app read-only
					consumer_secret: 'TcIBmghaMAXHIPANWPJs2SOKyxzQigf0q51ovZ6YA7YzF8a0dF', // make sure to have your app read-only
				},
				// GENERAL SETTINGS
				length:150,                                      //Integer: For posts with text longer than this length, show an ellipsis.
				template: '/js/bower_components/social-feed/template.html',
				show_media: true
			});
		});
		*/
