extends ../layouts/layout-nonav

block css
	link(href="/styles/jquery.socialfeed.css" rel="stylesheet" type="text/css")
	link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")

block head

block header
	#header.header
		.background
			div(style="background-image:url('" + data.page.headerImage.url + "')" )
				.background-filter
					.header-content
						.header-row-logo
							.header-logo
								a(href='/'+[getLocale(req)]+'/'): img.img-responsive(src='/images/logo-white.png' alt="Hotel Amalfi Roma")
						.header-row-title
							.header-title.text-center
								h1.text-uppercase #{data.page.title}
								.container-fluid
									.row
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
										.col-xs-2.col-sm-2.col-md-2.col-lg-2
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
								h2.text-uppercase #{data.page.subTitle}
		//-- end header

block content
	.container
		.row
			.col-md-12.text-center.col-lg-12
				h2=data.page.title
			div(class="col-md-12 col-lg-12", style="margin-top: 30px; margin-bottom: 30px;")
				!= data.page.textBlockContent
