include ../mixins/flash-messages

doctype html
html

	include partials/head

	//- HTML BODY
	body

		include partials/navbar

		#header.header
			.background.gallery
				.background-filter
					.header-content
						.header-row-logo
							.header-logo
								a(href='/'): img.img-responsive(src='/images/logo-white.png')
						.header-row-title
							.header-title.text-center
								h1.text-uppercase #{__('galleryh1')}
								.container-fluid
									.row
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
										.col-xs-2.col-sm-2.col-md-2.col-lg-2
										.col-xs-5.col-sm-5.col-md-5.col-lg-5
								h2.text-uppercase #{__('galleryh2')}
		//-- end header

		block content

		include partials/footer
		
		include partials/scripts
