include ../mixins/flash-messages

doctype html
html

	include partials/head
	
	block seo
		include partials/seoSpecialPage

	//- HTML BODY
	body

		include partials/navbar

		block header

		block content

		include partials/footer
		
		include partials/scripts
