.footer
	.container-fluid
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				.control-group &nbsp;
				.row
					.col-sm-12.col-md-3.col-sm-push-0.col-md-push-6
						h4.text-uppercase
							| Latest Photo &nbsp;&nbsp;&nbsp;
							img(src='/images/social-instagram.png', align='middle')
						.instagram
					.col-sm-12.col-md-3.col-sm-push-0.col-md-push-6
						h4.text-uppercase
							| Latest Post &nbsp;&nbsp;&nbsp;
							img(src='/images/social-facebook.png', align='middle')
					.col-sm-12.col-md-3.col-sm-pull-0.col-md-pull-6
						.footer-logo
							img(src='/images/logo-footer.png')
							.control-group &nbsp;
							!= data.socialAndFooter.socialAndFooter.contentBelowLogo
					.col-sm-12.col-md-3.col-sm-pull-0.col-md-pull-6
						.footer-menu
							h4.text-uppercase hotel amalfi
							.control-group &nbsp;
							ul
								each link in navLinks
									if link.footer
										li: a.text-uppercase(href=link.href)= __(link.label)
				.control-group &nbsp;
//-- end footer
.credits
	.container-fluid
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
				a(href='#') Powered by WEBJ
//-- end credits
