.hmd-book-wrapper(data-locale='en', data-hoid='1468', data-caid='691', data-mobid='691')
.hmd-book-container
  .hmd-lang
    | LANGUAGE
  .hmd-lang-list
    ul
      li(data-langcode='it_IT') Italiano
      li(data-langcode='en_GB') English
      li(data-langcode='de_DE') Deutsch
      li(data-langcode='pt_PT') Português
      li(data-langcode='es_ES') Español
  .hmd-close.book-trigger-close
    i.ion-ios-close-empty
  .hmd-book-settings
    ul.hmd-settings
      li.hmd-checkIn-panel
        .hmd-label
          i.ion-calendar
          |  Arrivo
        .hmd-text
          | 7
        #checkInPicker.hmd-date.hmd-datepicker.hmd-checinInPicker
        .hmd-sub APRILE
      li.hmd-checkOut-panel
        .hmd-label
          i.ion-calendar
          |  Partenza
        .hmd-text
          | 7
        #checkOutPicker.hmd-date.hmd-datepicker.hmd-checkOutPicker
        .hmd-sub APRILE
      li.hmd-rooms-panel
        .hmd-label
          i.ion-person-stalker
          |  Camere
        .hmd-text 1
        .hmd-sub
          .hmd-add Aggiungi
          .hmd-remove Rimuovi
          .hmd-clearfix
  .hmd-book-rooms
    #room1.hmd-room(data-room='1')
      .hmd-room-section.name
        | Camera 1
      .hmd-room-section.adults
        select
          option(value='1') 1 Adulto
          option(value='2') 2 Adulti
          option(value='3') 3 Adulti
          option(value='4') 4 Adulti
      .hmd-room-section.childs
        select
          option(value='0') Nessun bambino
          option(value='1') 1 Bambino
          option(value='2') 2 Bambini
          option(value='3') 3 Bambini
          option(value='4') 4 Bambini
      #childs1.hmd-room-childs-ages
        .hmd-clearfix
      .hmd-clearfix
  .hmd-promocode
    input(type='text', placeholder='Hai un promocode ? Scrivilo qui !')
  .hmd-booknow.book-trigger
    | BOOK NOW
.credits
  | Powered by HermesHotels
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
script(src="http://www.hermeshotels.it/plugin/dist/booking-plugin.js")
