//- HTML HEADER
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")

	link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png")
	link(rel="icon" type="image/png" href="/images/favicon/favicon-196x196.png" sizes="196x196")
	link(rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96")
	link(rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16")
	link(rel="icon" type="image/png" href="/images/favicon/favicon-128.png" sizes="128x128")
	meta(name="application-name" content="&nbsp;")
	meta(name="msapplication-TileColor" content="#FFFFFF")
	meta(name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png")
	meta(name="msapplication-square70x70logo" content="/images/favicon/mstile-70x70.png")
	meta(name="msapplication-square150x150logo" content="/images/favicon/mstile-150x150.png")
	meta(name="msapplication-wide310x150logo" content="/images/favicon/mstile-310x150.png")
	meta(name="msapplication-square310x310logo" content="/images/favicon/mstile-310x310.png")

	block seo

	link(href="/js/plugins/masterslider/style/masterslider.css" rel="stylesheet")
	link(href="/js/plugins/masterslider/skins/default/style.css" rel="stylesheet")
	link(href='https://fonts.googleapis.com/css?family=Lato:100,700,400,300,900' rel='stylesheet' type='text/css')
	link(href="http://www.hermeshotels.it/plugin/dist/booking-plugin.css" rel="stylesheet" type="text/css")
	link(href='/styles/jquery-ui.css', rel='stylesheet')
	//- Bootstrap core CSS
	link(href='/styles/bootstrap.css', rel='stylesheet')

	//- Include template-specific stylesheets by extending the css block
	block css

	//- Custom CSS
	link(href='/styles/style.css', rel='stylesheet')

	//- This file provides the default styling for the KeystoneJS Content Editor
	if user && user.canAccessKeystone
		link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

	//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	//- Safely remove this block if you are not targeting IE8
	//-[if lt IE 9]
		script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
		script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
	//-[endif]

	script(src="https://use.fontawesome.com/078e4cde97.js")

	.hmd-book-wrapper(data-locale='#{getLocale(req)}', data-hoid='1468', data-caid='691', data-mobid='691')
		.hmd-book-container
			.hmd-lang
				| LANGUAGE
			.hmd-lang-list
				ul
					li(data-langcode='it_IT') Italiano
					li(data-langcode='en_GB') English
					li(data-langcode='de_DE') Deutsch
					li(data-langcode='pt_PT') Português
					li(data-langcode='es_ES') Español
			.hmd-close.book-trigger-close
					i.ion-ios-close-empty
			.hmd-book-settings
				ul.hmd-settings
					li.hmd-checkIn-panel
						.hmd-label
							i.ion-calendar
							|  Arrivo
						.hmd-text
							| 7
						#checkInPicker.hmd-date.hmd-datepicker.hmd-checinInPicker
						.hmd-sub APRILE
					li.hmd-checkOut-panel
						.hmd-label
							i.ion-calendar
							|  Partenza
						.hmd-text
							| 7
						#checkOutPicker.hmd-date.hmd-datepicker.hmd-checkOutPicker
						.hmd-sub APRILE
					li.hmd-rooms-panel
						.hmd-label
							i.ion-person-stalker
							|  Camere
						.hmd-text 1
						.hmd-sub
							.hmd-add Aggiungi
							.hmd-remove Rimuovi
							.hmd-clearfix
			.hmd-book-rooms
				#room1.hmd-room(data-room='1')
					.hmd-room-section.name
						| Camera 1
					.hmd-room-section.adults
						select
							option(value='1') 1 Adulto
							option(value='2') 2 Adulti
							option(value='3') 3 Adulti
							option(value='4') 4 Adulti
					.hmd-room-section.childs
						select
							option(value='0') Nessun bambino
							option(value='1') 1 Bambino
							option(value='2') 2 Bambini
							option(value='3') 3 Bambini
							option(value='4') 4 Bambini
					#childs1.hmd-room-childs-ages
						.hmd-clearfix
					.hmd-clearfix
			.hmd-promocode
				input(type='text', placeholder='Hai un promocode ? Scrivilo qui !')
			.hmd-booknow.book-trigger
				| BOOK NOW
		.credits
			| Powered by HermesHotels


	//- Add any other template-specific HEAD tags by extending the head block
	block head
