//- HTML HEADER
head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")

	title= title || 'Hotel Amalfi'
	link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

	link(href="/js/plugins/masterslider/style/masterslider.css" rel="stylesheet")
	link(href="/js/plugins/masterslider/skins/default/style.css" rel="stylesheet")

	link(href='https://fonts.googleapis.com/css?family=Lato:100,700,400,300,900' rel='stylesheet' type='text/css')
	link(href='/styles/jquery-ui.css', rel='stylesheet')
	//- Bootstrap core CSS
	link(href='/styles/bootstrap.css', rel='stylesheet')
		
	//- Include template-specific stylesheets by extending the css block
	block css
		
	//- Custom CSS
	link(href='/styles/style.css', rel='stylesheet')


	//- This file provides the default styling for the KeystoneJS Content Editor
	if user && user.canAccessKeystone
		link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

	//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	//- Safely remove this block if you are not targeting IE8
	//-[if lt IE 9]
		script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
		script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
	//-[endif]

	script(src="https://use.fontawesome.com/078e4cde97.js")


	//- Add any other template-specific HEAD tags by extending the head block
	block head
